.container {
  display: none;
  flex-direction: row;
  justify-content: center;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 100px; /* Place the button 30px from the right */
  z-index: 99;
  border: none;
  background-color: black; 
  opacity: .5;
  color: white;
  cursor: pointer; 
  border-radius: 5px; 
  height: 60px;
  
}

.container:hover > .text {
  display: block;
}

.container:hover {
  background-color: black;
  opacity: 1;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  align-self: center;
  margin-left: 10px;
  font-size: 14px;
}

.image {
  width: 45px;
  height: 45px;
  align-self: center;
  margin: 5px;
}
